# Node.js modules
/node_modules
/client/node_modules

# Build directories
/.next
/client/public

# Compiled TypeScript files
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
/client/package-lock.json
/package-lock.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local development files
/client/.gitignore

# Ignoring specific files inside `src/components` and other directories
/client/src/components/ChannelContainer.jsx
/client/src/components/ChannelListContainer.jsx
/client/src/components/ChannelSearch.jsx
/client/src/components/TeamChannelList.jsx
/client/src/components/TeamChannelPreview.jsx
/client/src/components/index.js
/client/src/App.css
/client/src/App.jsx
/client/src/index.js

# Other configuration files
/.eslintrc.json
/next-env.d.ts
/package.json
/postcss.config.js
/tsconfig.json

# Ignore README files except the main one
README 2.md

# Ignore coverage reports (for tests)
/coverage

# Ignore any temporary or backup files
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
